$main: #2BB7E7;
$second: #1896cd;
$main-10: #2AB7E631;
$main-dark: #0066c5;
$light-main: #4dc7f0;

$green: #2DE3BD;
$green-dark: #1bc9a3;
$green-10: #2EE3BE31;

$lighter-dark: #201e1e;
$light-dark: #151111;
$dark: #100c0c;
$darker: #0d0d0d;
$mdark: rgb(48, 48, 48);
$border: #d5d5d56e;
$gray: #727272;

$light: #fafafa;
$light-50: #f8f8f87c;

$gold: #ffa90b;

$main-gradient: linear-gradient(20deg, $green-dark 30%, $second 100%);