.searchbar {
    position: relative;
    border: 1px solid $border;
    border-radius: 12px;

    > svg {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        fill: $green-dark;
        font-size: 20px;
    }

    input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        font-size: 20px;
        background: transparent;
    }
}