#profile {
    .profile-home {
        display: flex;
        flex-direction: column;
        gap: 30px;

        > div > h3 {
            font-size: 24px;
        }

        .logout {
            display: flex;

            button {
                padding: 10px 40px;
            }
        }

        .category {
            .list {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                gap: 20px;
                padding: 10px 0;
            }
        }
    }
}
